<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlmostExactly.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <AlmostExactly.My.MySettings>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>Amateur (Default)</value>
            </setting>
            <setting name="AdvancedBool" serializeAs="String">
                <value>F|F</value>
            </setting>
            <setting name="myVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="todayrounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alltimerounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="todaygiveups" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alltimegiveups" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="todaywins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alltimewins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="todaytries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alltimetries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="todayscore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="alltimescore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="today" serializeAs="String">
                <value>2012-03-10</value>
            </setting>
        </AlmostExactly.My.MySettings>
    </userSettings>
</configuration>
